@import '../common.scss';

#container {
  display: flex;
  flex-wrap: wrap;

  .image {
    width: 33.33vw;
    height: 50vh;
    box-sizing: border-box;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;

    canvas {
      position: absolute;
      top: calc((50vh - min(50vh, 33.33vw) + 2px) / 2);
      left: calc((33.33vw - min(50vh, 33.33vw) + 2px) / 2);
      width: calc(min(50vh, 33.33vw) - 2px);
      height: calc(min(50vh, 33.33vw) - 2px);
    }
  }
}
