@import '~normalize.css/normalize.css';
@import '~bulma/bulma.sass';

%clear-fix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

a {
  outline: none;
}

button:-moz-focusring {
  outline: none;
}

input:-moz-focusring {
  outline: none;
}

.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  min-height: 6rem;

  &::after {
    @include loader;

    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    width: 4rem;
    height: 4rem;
    border-width: 0.4rem;
  }
}

.level {
  display: flex;

  .level-item {
    flex-grow: 1;
    margin: 0;
  }
}

.modal-content {
  max-width: 90%;
}

.button.is-loading {
  min-height: auto;
}

.error-boundary {
  @extend .notification;
  @extend .is-danger;

  margin: 2em;

  h1 {
    @extend .title;
    @extend .is-4;

    color: white;
  }

  textarea {
    @extend .textarea;

    margin-top: 1em;
  }

  button {
    @extend .button;
  }
}

html,
body {
  min-height: 100vh;
  overflow: hidden;
  background: #191919;
}
