@import './common.scss';

#container {
  min-height: 100vh;

  .not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 10vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .scene {
    min-height: 100vh;
    background: black;

    canvas {
      vertical-align: bottom;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    user-select: none;
    touch-action: none;

    * {
      pointer-events: auto;
    }

    .axes {
      position: absolute;
      left: 30px;
      top: 30px;
      width: 150px;
      height: 131px;
      display: flex;
      flex-wrap: wrap;
      background: url('./img/axes.png');
      background-size: 100%;

      div {
        position: absolute;
        width: 60px;
        height: 50px;
        font-size: 14px;
        font-weight: bold;
        color: black;
        border-radius: 5px;
        border: 3px solid black;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      .top-bottom {
        top: 18px;
        left: 45px;
      }

      .left-right {
        top: 68px;
        left: 10px;
      }

      .front-back {
        top: 68px;
        left: 80px;
      }
    }

    .textures {
      position: absolute;
      left: 30px;
      bottom: 30px;
      width: 150px;
      display: flex;
      flex-wrap: wrap;

      .square {
        width: 50px;
        height: 50px;
      }

      .clickable {
        background: url('./img/texture.png');
        background-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        color: black;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }

    .edit,
    .save {
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;

      .icon {
        color: white;
        opacity: 0.7;
        font-size: 30px;
      }
    }

    .instructions {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 60px;
      color: white;
      opacity: 0.7;
      font-size: 30px;
      text-align: center;
      transition: opacity 1s;

      &.hidden {
        opacity: 0;
      }
    }
  }
}

.modal-container {
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .axis-modal {
    .control {
      flex-grow: 1;
    }

    .slider-picker {
      padding-bottom: 10px;
    }
  }

  .texture-modal {
    .url {
      .control {
        display: flex;

        .file {
          margin-left: 10px;
        }
      }
    }

    .rotation {
      .button {
        margin: 0 15px 10px 0;
      }
    }
  }

  .show-url-modal {
    .input {
      margin-bottom: 15px;
    }
  }
}
